* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: sans-serif;
  background-color: #ecf0f3;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ecf0f3;
}

.calc {
  display: grid;
  grid-template-columns: repeat(4, 66px);
  box-shadow: 6px 6px 13px #fff,
    6px 6px 13px rgba(0, 0, 0, .16);
  border-radius: 28px;
  padding: 16px;
}

input {
  grid-column: 1 / 5;
  height: 68px;
  width: 258px;
  box-shadow: inset -6px -6px 13px #fff,
    inset 6px 6px 13px rgba(0, 0, 0, .16);
  background-color: #ecf0f3;
  border: none;
  border-radius: 36px;
  color: rgb(26, 25, 25);
  text-align: end;
  margin: 40px 0 30px;
  padding: 20px;
  font-size: 40px;
}

button {
  box-shadow: inset 6px 6px 13px #fff,
    6px 6px 13px rgba(0, 0, 0, .16);
  background-color: #ecf0f3;
  border: none;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin: 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
}

#equal {
  width: 120px;
  box-shadow: inset 6px 6px 13px #fff,
    6px 6px 13px rgba(0, 0, 0, .16);
  background-color: #ecf0f3;
  border: none;
  border-radius: 50px;
}